@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: var(--background);
	color: var(--foreground);
	transition: background-color 0.3s, color 0.3s;
}

.page-transition-container {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

body.page-transition .page-transition-container {
	opacity: 0;
}
.dark body {
	background-color: var(--background);
	color: var(--foreground);
	transition: background-color 0.3s, color 0.3s;
}
/* Add to your globals.css */
html {
	transition: background-color 0.3s, color 0.3s; /* Smooth transitions */
}

@layer base {
	:root {
		--background: #eff1f3;
		--foreground: #1e293b;

		--sidebar: ##ffffff;
		--card: #ffffff;
		--border: #e2e8f0;

		--text-primary: #1e293b;
		--btn-grad-start: #00c6ff;
		--btn-grad-middle: #0072ff;
		--btn-grad-end: #00c6ff;
	}
	.dark {
		--background: linear-gradient(to bottom, rgb(23, 22, 64), rgb(41, 49, 141));

		/* --background: linear-gradient(
			168deg,
			rgba(17, 16, 37, 1) 0%,
			rgba(29, 36, 77, 1) 42%,
			rgba(35, 43, 93, 1) 74%,
			rgba(50, 64, 173, 1) 95%,
			rgba(47, 68, 179, 1) 100%
		); */
		--foreground: #f8fafc;
		--sidebar: #0f1535;
		--card: #0a0f2a;
		--border: #374151;
		--btn-bg: #f8fafc;

		--text-primary: #f8fafc;
		--btn-grad-start: #1a2980;
		--btn-grad-middle: #26d0ce;
		--btn-grad-end: #1a2980;

		--btn-grad-light-start: #172232;
		--btn-grad-light-middle: #4b5563;
		--btn-grad-light-end: #6b7280;
	}
}
@layer utilities {
	.bg-background {
		background-color: var(--background);
	}

	.text-foreground {
		color: var(--foreground);
	}

	.bg-sidebar {
		background-color: var(--sidebar);
	}

	.bg-card {
		background-color: var(--card);
		border-radius: 10px;
		border: none;
	}

	.border-custom {
		border-color: var(--border);
	}

	.text-primary {
		color: var(--text-primary);
	}
	.bg-menu {
		border-radius: 10px;
	}

	.btn-grad {
		background-image: linear-gradient(
			to right,
			var(--btn-grad-start) 0%,
			var(--btn-grad-middle) 51%,
			var(--btn-grad-end) 100%
		);
		padding: 15px 45px;
		text-align: center;
		text-transform: uppercase;
		transition: 0.5s;
		background-size: 200% auto;
		color: white;
		border-radius: 10px;
		display: block;
	}

	.btn-grad:hover {
		background-position: right center;
		color: #fff;
		text-decoration: none;
	}
	.bg-input {
		background-color: var(--btn-grad-light-start);
		border-radius: 10px;
	}

	.bg-dropdown {
		background-color: var(--card);
		border-radius: 10px;
	}
	.bg-table {
		background-color: var(--btn-grad-light-start);
	}
	.btn-delete {
		background-image: linear-gradient(
			to right,
			#e52d27 0%,
			#b31217 51%,
			#e52d27 100%
		);

		margin: 5px;
		padding: 10px 25px;
		text-align: center;
		text-transform: uppercase;
		transition: 0.5s;
		background-size: 200% auto;

		border-radius: 10px;
	}
	.btn-delete:hover {
		background-position: right center; /* change the direction of the change here */
		color: #fff;
		text-decoration: none;
	}
	.btn-edit {
		background-image: linear-gradient(
			to right,
			#1fa2ff 0%,
			#12d8fa 51%,
			#1fa2ff 100%
		);

		margin: 5px;
		padding: 10px 25px;
		text-align: center;
		text-transform: uppercase;
		transition: 0.5s;
		background-size: 200% auto;

		border-radius: 10px;
	}
	.btn-edit:hover {
		background-position: right center; /* change the direction of the change here */
		color: #fff;
		text-decoration: none;
	}
}
